@import "../../styles/vars.scss";

.answer-timer-container {
  position: relative;
  width: 100%;
  .time-remaining {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 5px;
    font-weight: bold;
    color: $primary;
  }
  .progress {
    height: 5px;
    transition-duration: 0.1s;
    width: 0%;
    transition-timing-function: linear;
  }
}

